


<div id = "content"  #content>  
  
    

</div>  
<div  id="contentToConvert" style="background-color: white">  
  
    <div id="imagen_pdf" style="float: left; margin-top: 0%">  
        <img src="assets/imagenes/servitek-logo-baja.png">
        <div><b> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   <a href="http://servitek.gastrotek.com.mx" target="a_blank" >www.clr.com.mx</a> </b></div>
      </div>

    <div style="float: right; text-align: right">
        <div>San Bernardino No. 246 A</div>
        <div>Col. Residencial Nueva California</div>
        <div>Gral.Escobedo,Nuevo León CP. 66055</div>
        <div> 83070147</div>
        <div><a href="mailto:gvazquez.gastrotek@gmail.com">contacto@clr.com.mx</a></div>
    </div>

    <br><br><br><br><br><br>

        <hr>
        
        <div style="position: relative; left: 40%;">
        <h4>SOLICITUD DE SERVICIO</h4>
      </div>
        <br><br>
       
    <table class="table table-striped" >  
        <tr>  
          <th> TIPO DE SOLICITUD DE SERVICIO </th>  
          <th> {{ tipo_s }} </th>            
        </tr>  
        <tr>  
          <td> CONSECUTIVO </td> 
          <td > {{ x.consecutivo }} </td>  
        </tr>  
        <tr>  
          <td> No. DE CONSECUTIVOS ANTERIORES </td>
          <td>{{x.report_ant}}</td>   
        </tr>  
        <tr>  
          <td> REVISIONES</td>   
          <td> {{ x.revisiones }} </td> 
        </tr>  
        <tr>  
          <td> NIVEL DE MOLESTIA </td>            
          <td> {{ x.nivel_molestia }} </td> 
        </tr>  
        <tr>  
          <td> VENDIMOS NOSOTROS EL EQUIPO </td>  
          <td> {{ x.venta_equipo }} </td> 
        </tr>  
        <tr>  
          <td> INSTALAMOS NOSOTROS</td>  
          <td> {{ x.instalacion }} </td> 
        </tr>  
        <tr>  
          <td>  GARANTIA</td>     
          <td> {{ x.garantia }} </td>        
        </tr>  
        <tr>  
          <td> LEVANTA REPORTE </td>
          <td> {{ x.levanta_report }} </td>   
        </tr>  
        <tr>  
          <td> FECHA REPORTE</td> 
          <td> {{ x.fecha_report }} </td>  
        </tr>  
        <tr>  
          <td> NOMBRE DEL CLIENTE </td>
          <td> {{ x.nombre_cliente }} </td>             
        </tr>  
        <tr>  
          <td> CONTACTO </td>  
          <td> {{ x.contacto }} </td> 
        </tr>  
        <tr>  
          <td> CORREO</td>  
          <td> {{ x.correo }} </td> 
        </tr>  
        <tr>  
          <td> TEL OFICINA O CELULAR </td>  
          <td> {{ x.telefono }} </td>           
        </tr>  
        <tr>  
          <td> DIRECCION </td>  
          <td> {{ x.direccion }} </td> 
        </tr>  
        <tr>  
          <td> GOOGLE MAPS</td>  
          <td> trabajando </td> 
        </tr>  

        <tr>  
          <td> DESCRIPCION DEL EQUIPO</td>  
          <td> {{ x.desc_equipo }} </td> 
        </tr>  
        <tr>  
          <td> MARCA</td> 
          <td> {{ x.marca }} </td>            
        </tr>  
        <tr>  
          <td>MODELO </td>  
          <td> {{ x.modelo }} </td> 
        </tr>  
        <tr>  
          <td> SERIE</td>  
          <td> {{ x.serie }} </td> 
        </tr>  

        <tr>  
          <td> FALLA REPORTA EL CLIENTE </td>  
          <td> {{ x.falla }} </td> 
        </tr>  
        <tr>  
          <td> REQUISITOS PARA DAR EL SERVICIO</td>            
          <td> {{ x.requisitos }} </td> 
        </tr>  
        <tr>  
          <td>FECHA PROMESA DEL SERVICIO </td>  
          <td> {{ x.fecha_promesa }} </td> 
        </tr>  
        <tr>  
          <td> OBS</td>  
          <td> {{ x.obs }} </td> 
        </tr>  
      </table>  
      
   
</div>  