<div id = "content"  #content>  
  
    <div  class = "alert alert-info" >  
        <strong> Conversión de HTML a PDF: Angular 6 </strong>  
    </div>  
    <div>  
      <input type = "button"  value = "CPTURE"  (click) = "captureScreen ()" />  
    </div>
    
    

</div>  
<div  id="contentToConvert">  
  
    <div id="imagen_pdf" style="float: left; margin-top: 0%">  
        <img src="assets/imagenes/servitek-logo-baja.png">
        <div><b> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   <a href="http://servitek.gastrotek.com.mx" target="a_blank" >www.clr.com.mx</a> </b></div>
      </div>

    <div style="float: right; text-align: right">
        <div>San Bernardino No. 246 A</div>
        <div>Col. Residencial Nueva California</div>
        <div>Gral.Escobedo,Nuevo León CP. 66055</div>
        <div> 83070147</div>
        <div><a href="mailto:gvazquez.gastrotek@gmail.com">contacto@clr.com.mx</a></div>
    </div>

    <br><br><br><br><br><br>

        <hr>
        
        <div style="position: relative; left: 40%;">
        <h4>SOLICITUD DE SERVICIO</h4>
      </div>
        <br><br>
   
    <table class="table table-striped" >  
        <tr>  
          <th> Tipo de solicitud de servicio </th>  
          <th> Revision y diagnostico para cotizar </th>  
          
        </tr>  
        <tr>  
          <td> CONSECUTIVO </td> 
          <td> {{this.x.nombre_cliente}} </td>  
        </tr>  
        <tr>  
          <td> No. DE CONSECUTIVOS ANTERIORES </td>
          <td> CONSECUTIVO </td>   
        </tr>  
        <tr>  
          <td> REVISIONES</td>   
          <td> CONSECUTIVO </td> 
        </tr>  
        <tr>  
          <td> NIVEL DE MOLESTIA </td>            
          <td> CONSECUTIVO </td> 
        </tr>  
        <tr>  
          <td> VENDIMOS NOSOTROS EL EQUIPO </td>  
          <td> CONSECUTIVO </td> 
        </tr>  
        <tr>  
          <td> INSTALAMOS NOSOTROS</td>  
          <td> CONSECUTIVO </td> 
        </tr>  
        <tr>  
          <td>  GARANTIA</td>     
          <td> CONSECUTIVO </td>        
        </tr>  
        <tr>  
          <td> LEVANTA REPORTE </td>
          <td> CONSECUTIVO </td>   
        </tr>  
        <tr>  
          <td> FECHA REPORTE</td> 
          <td> CONSECUTIVO </td>  
        </tr>  
        <tr>  
          <td> NOMBRE DEL CLIENTE </td>
          <td> CONSECUTIVO </td>             
        </tr>  
        <tr>  
          <td> CONTACTO </td>  
          <td> CONSECUTIVO </td> 
        </tr>  
        <tr>  
          <td> CORREO</td>  
          <td> CONSECUTIVO </td> 
        </tr>  
        <tr>  
          <td> TEL OFICINA O CELULAR </td>  
          <td> CONSECUTIVO </td>           
        </tr>  
        <tr>  
          <td> DIRECCION </td>  
          <td> CONSECUTIVO </td> 
        </tr>  
        <tr>  
          <td> GOOGLE MAPS</td>  
          <td> CONSECUTIVO </td> 
        </tr>  

        <tr>  
          <td> DESCRIPCION DEL EQUIPO</td>  
          <td> CONSECUTIVO </td> 
        </tr>  
        <tr>  
          <td> MARCA</td> 
          <td> CONSECUTIVO </td>            
        </tr>  
        <tr>  
          <td>MODELO </td>  
          <td> CONSECUTIVO </td> 
        </tr>  
        <tr>  
          <td> SERIE</td>  
          <td> CONSECUTIVO </td> 
        </tr>  

        <tr>  
          <td> FALLA REPORTA EL CLIENTE </td>  
          <td> CONSECUTIVO </td> 
        </tr>  
        <tr>  
          <td> REQUISITOS PARA DAR EL SERVICIO</td>            
          <td> CONSECUTIVO </td> 
        </tr>  
        <tr>  
          <td>FECHA PROMESA DEL SERVICIO </td>  
          <td> CONSECUTIVO </td> 
        </tr>  
        <tr>  
          <td> OBS</td>  
          <td> CONSECUTIVO </td> 
        </tr>  
      </table>  
      
   
</div>  