.cont {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.toolbar{
 background: rgb(103, 103, 103);
}
.mobile .toolbar {
  position: fixed;
  z-index: 2;
}

.expanded-nav {
border-right: 2px solid ;
    background: rgb(242, 242, 242);
box-shadow: 5px 1px 9px 1px #353535;
}
.sidenav-container {
  background: rgba(118, 118, 118, 0.74);
  flex: 1;
}

.mobile .sidenav-container {
  flex: 1 0 auto;
}
.expanded-items-list:hover{
      background: #00000094;
      color: white;
}
.body{
    //background: rgba(168, 168, 168, 0.46);
}