<div class="cont" [class.mobile]="mobileQuery.matches">
  <mat-toolbar  class="toolbar">
<button mat-icon-button class="menu" (click)="snav.toggle()">
      <mat-icon  >menu</mat-icon>
    </button>
<h3 class="menu">Servitek</h3>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav class="expanded-nav col-2 p-0 " [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list class="expanded-list-nav">

        <a mat-list-item class="expanded-items-list" routerLink="" >Dashboard</a>

      </mat-nav-list>
    </mat-sidenav>
        <mat-sidenav-content class="body" >
          <router-outlet></router-outlet>
        </mat-sidenav-content>
  </mat-sidenav-container>
</div>
