<div class="row justify-content-center ">
  <div class="col-8 formulario justify-content-around">
    <form class="form-group ">
      <div class="row justify-content-between d-flex  ">
         <mat-form-field class="example-full-width col-4">
          <input matInput placeholder="No. Reportes Anteriores" >
        </mat-form-field>
         <mat-form-field class="example-full-width col-4">
          <input matInput placeholder="Cantidad de revisiones que lleva" >
        </mat-form-field>
        <mat-form-field class="col-7" >
          <mat-select placeholder="Favorite food">
            <mat-option *ngFor="let opcion of opc" [value]="opcion.name">
              {{opcion.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width col-4">
          <input matInput placeholder="Consecutivo" >
        </mat-form-field>
      </div>
      <div class="row justify-content-between ">
        <div class="col-5 py-1 mt-1 border border-dark rounded " >
          <label class="d-block" for="checkbox1_value">Le vendimos nosotros el equipo</label>
          <mat-radio-group>
            <mat-radio-button value="1">Si</mat-radio-button><br>
            <mat-radio-button value="2">No</mat-radio-button><br>
          </mat-radio-group>
        </div>
        <div class="col-5 py-1 mt-1 border border-dark rounded " >
          <label class="d-block" for="">Le instalamos nosotros el equipo</label>
         <mat-radio-group>
            <mat-radio-button value="1">Si</mat-radio-button><br>
            <mat-radio-button value="2">No</mat-radio-button><br>
          </mat-radio-group>
        </div>
        <div class="col-5 py-1 mt-1 border border-dark rounded " >
          <label for="" class="d-block" >Garantia</label>
          <mat-radio-group>
            <mat-radio-button value="1">Si</mat-radio-button><br>
            <mat-radio-button value="2">No</mat-radio-button><br>
          </mat-radio-group>
        </div>
        <div class="col-5 py-1 mt-1 border border-dark rounded " >
          <label for="" class="d-block" >Nivel de molestia</label>
         <mat-radio-group>
            <mat-radio-button value="1">Nada</mat-radio-button><br>
            <mat-radio-button value="2">Poco</mat-radio-button><br>
            <mat-radio-button value="3">Mucho</mat-radio-button><br>
          </mat-radio-group>
        </div>
      </div>
      <div class="row pt-1 justify-content-between">
        <mat-form-field class="example-full-width col-3 mb-1">
            <input matInput placeholder="Marca" value="">
          </mat-form-field>
          <mat-form-field class="example-full-width col-3 mb-1">
            <input matInput placeholder="Serie" value="">
          </mat-form-field>
          <mat-form-field class="example-full-width col-3 mb-1">
            <input matInput placeholder="Modelo de equipo" value="">
          </mat-form-field>
          <mat-form-field class="example-full-width col-4 mb-1">
            <input matInput placeholder="Descripcion del equipo" value="">
          </mat-form-field>
          <mat-form-field class="example-full-width col-4 mb-1">
            <input matInput placeholder="Levanta Reporte" value="">
          </mat-form-field>
          
          <mat-form-field class="example-full-width col-5 mb-1">
            <input matInput placeholder="Falla del reporte del cliente" value="">
          </mat-form-field>
          <mat-form-field class="example-full-width col-6 mb-1">
            <input matInput placeholder="Requisitos para dar el servicio" value="">
          </mat-form-field>
          <mat-form-field class="example-full-width col-5 mb-1 ">
            <input matInput [matDatepicker]="picker" placeholder="Fecha promesa">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
           <mat-form-field class="example-full-width col-12 mb-1">
            <input matInput placeholder="Obs" value="">
          </mat-form-field>
      </div>
      <div class="row justify-content-between" >
        <div>
          <mat-radio-group>
            <mat-radio-button value="1">En caso de garantia</mat-radio-button><br> <input *ngIf="show" class="col-5 mt-1 form-control " type="date" name="" id=""><br>
            <mat-radio-button value="2">EN CASO DE GARANTÍA Y SI SE VENDIÓ EL EQUIPO</mat-radio-button><input *ngIf="show" class="col-5 mt-1 form-control " type="Number" name="" id="" placeholder="# Factura" ><br> 
          </mat-radio-group>
        </div>
      </div>
    </form>
  </div>
</div>