<div class="body container ">
  <div class="title row justify-content-center ">
    <h2>Prueba de servicios</h2>
  </div>
  <!-- <div class="content row">
    <button>Buscar cliente</button>
  </div> -->
  <div class="row justify-content-center ">
    <div class="col-8 formulario justify-content-between">
      <form valid action="">
        <input class="input 1 col-12" type="text" placeholder="Nombre Cliente"  required >
        <input class="input 1 col-6" type="text" placeholder="Contacto"   required>
        <input class="input 1 col-6" type="text" placeholder="Tel. Oficina"   required>
        <input class="input 1 col-12" type="text" placeholder="Direccion"  required>
      </form>
      <button class="">Gurdar Cliente</button>
      <button>Buscar cliente</button>
    </div>
  </div>
<div *ngIf="show" class="pb-2">
    <app-solicitudservicio></app-solicitudservicio>
  </div>
   <div *ngIf="show" class="pt-2 pb-2" >
<app-modolutecnico></app-modolutecnico>
  </div>
    <div *ngIf="show" class="pt-2" >
<app-modulocostoyfactura></app-modulocostoyfactura>
  </div>

</div>
