<div class="row justify-content-center pt-2 ">
  <div class="col-8 formulario justify-content-around">
    <form class="form-group ">
      <div class="row justify-content-between">
        <input name="" id="" class="col-5 form-control mt-1 " type="text" value="" placeholder="Costo nos cobro el cliente">
        <input name="" id="" class="col-5 form-control mt-1 " type="text" value="" placeholder="Costo refacciones">
        <input name="" id="" class="col-5 form-control mt-1 " type="text" value="" placeholder="Costo total para cobrar al cliente">
        <input name="" id="" class="col-3 form-control mt-1 " type="text" value="" placeholder="Utilidad">
        <input name="" id="" class="col-3 form-control mt-1 " type="text" value="" placeholder="Precio de venta al cliente">
      </div>
    </form>
  </div>
</div>
