<div class="row justify-content-center pt-2 " >
  <div class="col-8 formulario justify-content-around" >
    <form class="form-group ">
    <div class="row justify-content-between">
      <mat-form-field class="example-full-width col-5 mb-1">
        <input matInput placeholder="Nombre del provedor de servicio" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width col-5 mb-1">
        <input matInput placeholder="Costo de refacciones" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width col-5 mb-1">
        <input matInput placeholder="Costo total para cobrar al cliente" value="">
      </mat-form-field>
      <mat-form-field class="col-7" >
        <mat-select placeholder="Satisfaccion del cliente">
          <mat-option *ngFor="let opcion of opc" [value]="opcion.name">
            {{opcion.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width col-12">
        <textarea matInput placeholder="Descripción del reporte de servicio de lo que se hizo y esta descripción se usa para facturar el servicio al cliente"></textarea>
      </mat-form-field>
    </div>
  </form>
  </div>
</div>
